@model IEnumerable<Course>
@{
    ViewData["Title"] = "Courses";
}

<h3>Course List</h3>
<a asp-action="Create" asp-controller="Course" class="mb-3 btn btn-primary">Create</a>
<table class="table table-hover" width="100%">
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Status</td>
        <td>Actions</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Course/Details/@item.Id" class="btn btn-secondary" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                    </svg>
                </a>
                <a style="font-weight: bold;"> @item.Name </a>
            </td>
            <td style="font-weight: bold">@item.Description</td>
            @if(item.Approval)
            {
                @if (item.Status == "Approved")
                {
                    <td style="color: green; font-weight: bold">@item.Status</td>
                }
                else
                {
                    <td style="color: red; font-weight: bold">@item.Status</td>
                }
            }
            else
            {
                <td style="color: grey; font-weight: bold">Pending</td>
            }
            <td>
                <a href="/Course/Edit/@item.Id" class="btn btn-warning" style="font-weight: bold">Edit</a>
                <a href="/Course/Delete/@item.Id" class="btn btn-danger" style="font-weight: bold">Delete</a>
            </td>
        </tr>
    }
</table>